.users {
  margin: 0;
	padding: 0.5em;
  table {
    border-collapse: collapse;
    thead {
      font-weight: bold;
      }
		td {
			padding: 0.5em;
			margin: 0;
		  }
    tr.list_line_odd {
			background-color: #effeef;
		  }
		}
}
